# 01 Introduction to Python for Data Science


| title | Description | 
|:------|:------------|
|Complexity Level | Beginner (Pemula)| 
|Prerequisite | Untuk mengambil program ini, pastikan kamu telah memahami kemampuan dasar komputer (web browsing, app installation, file navigating). Tidak diperlukan pengalaman pemrograman atau pengembangan aplikasi web apa pun sebelumnya. | 
| Program Description | Intro to Python for Data Science berisi semua hal dasar yang dibutuhkan untuk menjadi seorang Data Scientist. Program berbasis keterampilan ini ditujukan untuk learner, yang ingin belajar python dan ingin menerapkan statistik, machine learning, dan visualisasi informasi melalui toolkit python populer seperti pandas, matplotlib, scikit-learning, seaborn, dan banyak lagi untuk mendapatkan wawasan tentang data yang ada. Dan pada course yang terakhir learner akan belajar semua hal tentang Machine Learning yang akan mendukung kemampuan learner di bidang Data Science. Diharapkan setelah mengikuti Online Program ini learner akan menjadi seorang Data Scientist yang siap menghadapi dunia kerja di bidang Data Science. | 
| Program Objectives | ● Menggunakan fungsionalitas serta fitur dari Python yang digunakan untuk data science <br> ● Memahami Practical Statistics yang digunakan untuk data science <br> ● Query struktur DataFrame untuk cleaning and processing dataset <br> ● Membuat visualisasi basic hingga advance untuk representasi data <br> ● Membuat ML features yang memenuhi kebutuhan analisa data <br> ● Menggunakan scikit-learn untuk membuat dan evaluasi ML model <br> ● Mengimplementasikan Supervised dan Unsupervised Learning untuk memecahkan kasus nyata <br> ● Mampu melakukan deployment Model ML yang telah dibuat  |
| Program Output and Portfolio type | Lulusan program ini diharapkan mampu melakukan EDA (Exploratory Data Analysis ) dengan Python dan mampu membuat Machine Learning Model untuk memecahkan kasus nyata. |


link Markdown Cheatsheet <url>https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code </url>

Minimum device requirements:  Processor Core i3 gen 6 / Ryzen gen 1 (recommended: Core i5 gen 6 / Ryzen gen 2), RAM minimum 4GB (recommended: 8GB) and at least 100GB storage available. Preferably using Unix or Linux as an Operating System, or Windows 10 with WSL2 Ubuntu 18.04/20.04 Kernel.


Contents

This section covers what you'll learn in this labs.

1. Introduction: Basic Syntax, Data Type, and Variable
    * Self Paced Learning: Memahami Jupyter Notebook
2. Conditions, Control Flow & Looping
3. Function, Basic Module, and Package
4. Numpy
5. Pandas Introduction
6. Data Cleaning with Pandas
7. Basic Visualization
8. Advanced Visualization
    * Assignment Python 1
9. Descriptive Statistics
10. Inferential Statistics
    * Assignment Python 2
12. Regression Models
    * Self Paced Learning: Algoritma Machine Learning
13. Classification 1
14. Classification 2
    * Assignment 3 Python
15. Unsupervised
16. Model Deployment
    * Self Paced Learning: Mempelajari Machine Learning dengan Python
17. Final Projects
    * Final Project

- Anaconda (Juypter Notebook)
- Visual Studio Code 
- Google Colab 
- Pycharm
  
- Git Scm
- Register Github 
- Register Heroku (berbayar)

### Install Anaconda 

https://docs.anaconda.com/anaconda/install/

### Install Visual Studio 
https://code.visualstudio.com/

##  Introduction to Python

Apa itu Python ? 

"Python is **Powerfull**, easy to use , Object Oriented Programming language" 

Powerfull : bisa berjalan di semua os dan sangat berguna.  

Python sangat berguna : Scripts & Program (Automation, Tools) , Web Development ( django, flask , fastapi) , Data Science

FastAPI : 
https://fastapi.tiangolo.com/ 

Flask : 
https://flask.palletsprojects.com/en/2.0.x/

Django :
https://www.djangoproject.com/  

Streamlit
https://streamlit.io/

## Alur Pemrogramman

<img src="https://i.ibb.co/0MkZvWh/logika.png" width="800" align="center">

## Intrepeter or Compiler ?

<img src="https://i.ibb.co/9VXZG2F/Python-Execution-Model.png" width="600" align="center">

<img src="https://i.ibb.co/PmKTKjX/python-compile.png" width="600" align="center">

## Menjalankan Jupyter Notebook : 

1. Anaconda Navigator 
   - Install Juypter Notebook 
   - Open Juypter Notebook 

2. Juypter Notebook command prompt  
    - Masuk ke terminal / command prompt 
    - jalankan printah command "jupyter notebook" 


3. Melalui Visual Studio Code Editor 
    - buat file new dengan extension ipynb contoh : latihan.ipynb 
    - maka akan mendeteksi untuk menginstall extension jupyter 
    - atau bisa langsung cari di marketplace pada visual studio code 


4. Melalui Google Colabs 
    - https://colabs.google.com

## Short Cut Jupyter  

    While in command mode (press Esc to activate):

Enter take you into edit mode
* H show all shortcuts
* Up select cell above
* Down select cell below
* Shift + Up extend selected cells above
* Shift + Down extend selected cells below
* A insert cell above
* B insert cell below
* X cut selected cells
* C copy selected cells
* V paste cells below
* Shift + V paste cells above
* D, D (press the key twice) delete selected cells
* Z undo cell deletion
* S Save and Checkpoint
* Y change the cell type to Code
* M change the cell type to Markdown
* P open the command palette.
* Shift + Space scroll notebook up
* Space scroll notebook down
* While in edit mode (pressEnter to activate)
Esc take you into command mode
Tab code completion or indent
* Shift + Tab tooltip
* Ctrl + ] indent
* Ctrl + [ dedent
* Ctrl + A select all
* Ctrl + Z undo
* Ctrl + Shift + Z or Ctrl + Y redo
* Ctrl + Home go to cell start
* Ctrl + End go to cell end
* Ctrl + Left go one word left
* Ctrl + Right go one word right
* Ctrl + Shift + P open the command palette
* Down move cursor down

_____

## Introduction, Data Types, and Variables

## Tipe Data Python 
- Integers 
- Floating 
- String 
- Boolean

____

#### Integer

In [7]:
print(1+2)
print(1+1)
print(1111111111111111111111111111111111111111111111+1)

3
2
1111111111111111111111111111111111111111111112

In [10]:
number = 10 
print(number)
print(type(number))

10
<class 'int'>

Floating Point

- ada digit decimal 
- karater E atau e

In [15]:
fnumber = 7. 
print(fnumber)
print(type(fnumber))

7
<class 'int'>

In [18]:
fnumber2 = .123333e7 
print(fnumber2)
print(type(fnumber2))

1233330.0
<class 'float'>

String

- menggunakan kutip (satu (' ') atau dua (" "))

In [22]:
nama = 'IKetut 1 gunawan'
print(nama)
print(type(nama))

IKetut 1 gunawan
<class 'str'>

Boolean

True dan False

In [23]:
ok = True
print(ok)
print(type(ok))

True
<class 'bool'>

In [24]:
ok = False
print(ok)
print(type(ok))

False
<class 'bool'>

#### Variable Assignment

In [25]:
a = b = c = d = e = f = g = h = i = j = 150

In [27]:
print(a,b,c,d,e,f,g,h)

150 150 150 150 150 150 150 150

#### Aturan variable names 
- variable tidak di depan dengan menggunakan angka 
- variable depan bisa menggunakan huruf (besar / kecil )
- variable depan menggunakan tanda / karakter garis bawah (_)

In [28]:
_ = "Kosong" 
print(_)

Kosong

In [29]:
_1 = 1 
print(_1)

1

In [30]:
nama_depan = "IKetut"
print (nama_depan)

IKetut

In [31]:
1_angka = 10 
print(1_angka)

SyntaxError: invalid decimal literal (4143167534.py, line 1)

#### Standard penamaan suatu variable 
-  Snake Case  : first_name  
-  Camel Case  : jumlahAnakLakiLaki 
-  Pascal case : FistName

#### Operator dan Expresion

##### Basic Arithmetic operation 


| Operator | Description |	Syntax |
-----------|:-----------:|--------:|
| +	       |Addition: adds two operands |	x + y |
|–	 | Subtraction: subtracts two operands |	x – y |
|*	| Multiplication: multiplies two operands |	x * y | 
|/	| Division (float): divides the first operand by the second |	x / y |
|//	| Division (floor): divides the first operand by the second |	x // y | 
|%	| Modulus: returns the remainder when first operand is divided by the second | x % y |
|**	| Power : Returns first raised to power second |	x ** y |

In [36]:
x = 5 
y = 10 

print(x+y)
print(y-x)

print(y/x)
print(y//x)
print(y % x)
print(y ** 2)

15
5
2.0
2
0
100

#### Operator Penugasan
|Operator |	Simbol |
|:--------|:-------|
| Pengisian |	= |
| Penjumlahan |	+= |
| Pengurangan |	-= |
| Perkalian |	*= |
| Pembagian |	/= |
| Sisa Bagi |	%= |
| Pemangkatan |	**= |

In [38]:
x = 10 
y = 5 

print(x+y)
y +=x    #  y = y + x 
print(y)

15
15

#### Comparison Operators 

- membandingkan dua nilai 
- dengan operator relasi
  
|Operator |	Simbol |
|:--------|:-------|
|Lebih Besar|	> |
| Lebih Kecil |	< |
| Sama Dengan	| == | 
| Tidak Sama dengan |	!= |
| Lebih Besar Sama dengan |	>= |
| Lebih Kecil Sama dengan |	<= |

In [39]:
x = 20 
y = 40 

print(x == y)

False

#### Operator Logika 
- operasi logika  ( AND , OR , NOT )

|Nama |	Simbol di Python |
|:----|:----------|
| Logika AND |	and |
| Logika OR	| or |
| Negasi/kebalikan |	not |

Contoh : "and" 

|x   and  y | result | 
|----------:|-----:|
|True and True | True |
|True and False | False |
|False and False | False   | 

Contoh : "or" 

|x   or  y | result | 
|----------:|-----:|
|True or True | True |
|True or False | True |
|False or True | True |
|False or False | False   |

In [40]:
a = True
b = False

print(a and b) # false 
print(a or b) # false

False
True

##### String manipulation

In [43]:
# Operator 

s = "Hai "
b = "Hello "
c = "Hola "

print(s + b + c)

Hai Hello Hola

In [47]:
hai = "Apakabar"
print(hai * 10)

print("="* 80)

print(hai in 'Apakabar Jakart?')

ApakabarApakabarApakabarApakabarApakabarApakabarApakabarApakabarApakabarApakabar
================================================================================
True

In [ ]:
'halo apa kabar ?'

In [52]:
# Case Conversion 

x = "Google"

#lower 
print(x.lower())
#Uper
print(x.upper())
# swapcase 
print(x.swapcase())

y = "hadapi dengan senyuman"

print(y.capitalize())

print(y.title())

google
GOOGLE
gOOGLE
Hadapi dengan senyuman
Hadapi Dengan Senyuman

#### Container

<img src="images/01_container.png" width="600" align="center">

In [58]:
names = ["Bowo","Joko","Budi"]
phone_book ={ "Ketut":"08121312121111", "Gunawan": "08121212121121"}

<img src="images/03_container.png" width="600" align="center">

<img src="images/05_container.png" width="800" align="center">

#### Python List 

- menggunakan tanda kurung siku

Karakteristik penting dari List Python adalah sebagai berikut:


* Lists di siapkan.
* Lists dapat berisi objek sembarang.
* Elemen Lists dapat diakses dengan indeks.
* List dapat masukan ke kedalaman yang bebas.
* List bisa berubah.
* List bersifat dinamis.

In [59]:
names= ['budi','Joko','Jono','Jeky']
print(names)
print(type(names))

['budi', 'Joko', 'Jono', 'Jeky']
<class 'list'>

In [61]:
variabel_sembarang = ['Budi','Joko',100, 50.5, True]
print(variabel_sembarang)
print(type(variabel_sembarang))

['Budi', 'Joko', 100, 50.5, True]
<class 'list'>

In [62]:
variabel_sembarang[0]

'Budi'

![alt text](https://i.ibb.co/2dwyz0n/list.png "List Element")

In [64]:
data_list = ['foo','bar','baz','qux','quux', 'corge']
print(data_list[5])
print(data_list[-1])

print(data_list[6])

corge
corge

IndexError: list index out of range

![alt text](https://i.ibb.co/HBpJ63P/list2.png "List Element")

In [67]:
data_list = ['foo','bar','baz','qux','quux', 'corge']
print(data_list[0:4])


print(data_list[:4])

print(data_list[0:]) # 0 sampai akhir

['foo', 'bar', 'baz', 'qux']
['foo', 'bar', 'baz', 'qux']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [69]:
buah = ['apel','mangga','pepaya','jambu']

print('jeruk' in buah) 

print('apel' in buah)

False
True

In [70]:
buah.append("Durian")
print(buah)

['apel', 'mangga', 'pepaya', 'jambu', 'Durian']

In [71]:
buah.remove('pepaya')
print(buah)

['apel', 'mangga', 'jambu', 'Durian']

In [74]:
buah.remove('manggis')

ValueError: list.remove(x): x not in list

In [73]:
buah_delete = buah.pop(2)
print(f"{buah_delete} telah di delete")

jambu telah di delete

In [75]:
buah.insert(2,"Manggis")

In [76]:
print(buah)

['apel', 'mangga', 'Manggis', 'Durian']

In [78]:
buah.sort()
print(buah)

['Durian', 'Manggis', 'apel', 'mangga']

In [82]:
buah

['Durian', 'apel', 'mangga']

In [83]:
#buah.remove('Manggis')

buah.remove('Durian')

In [85]:
buah.append('durian')

In [86]:
buah.append('mangis')

In [87]:
buah.append('rambutan')

In [88]:
buah

['apel', 'mangga', 'durian', 'mangis', 'rambutan']

In [90]:
buah.sort()

print(buah)

['apel', 'durian', 'mangga', 'mangis', 'rambutan']

#### Python Tuples 
menggunakan kurung tupup '()' 
tidak bisa di rubah

In [91]:
buah_tuple = ('apel', 'durian', 'mangga', 'mangis', 'rambutan')
print(buah_tuple)
print(type(buah_tuple))

('apel', 'durian', 'mangga', 'mangis', 'rambutan')
<class 'tuple'>

In [93]:
buah_tuple[1]

'durian'

In [95]:
x1 = x2 = x3 =('satu','dua','tiga')

In [96]:
print(x1, x2, x3)

('satu', 'dua', 'tiga') ('satu', 'dua', 'tiga') ('satu', 'dua', 'tiga')

In [97]:
countdown = 1,2,3, "RUN!!!!" 
print(countdown)
print(type(countdown))

(1, 2, 3, 'RUN!!!!')
<class 'tuple'>

### Python dictionary 
-  {} 
-  isi  bisa berupa list 
-  isi bisa berupa object  
-  bisa berubah dan dinamis 
-  Key dan Value ( dapat diakses menggunakan key)
-  Key string 
-  key dan value di pisahkan menggunakan titik dua ':'

<img src="https://i.ibb.co/zRsctx8/mlb.png" width="400" align="center">

In [99]:
MLB_team = {
    'Colorado':'Rockies',
    'Boston':'Red Sox',
    'Minnesota':'Twins',
    'Milwauke':'Brewers',
    'Seatle':'Mariners',
}

In [100]:
print(MLB_team)
print(type(MLB_team))

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwauke': 'Brewers', 'Seatle': 'Mariners'}
<class 'dict'>

In [102]:
print(MLB_team['Boston'])

print(MLB_team['Boston '])

Red Sox

KeyError: 'Boston '

In [103]:
person = {}
type(person)

dict

In [105]:
person['fname'] = "IKetut"
person['lname'] = "Gunawan"
person['age'] = 45 
person['pets'] = ['cats','ant']
person['skill'] = {"programming":['Java','Golang','Python','Solidity'],
                   "database":{"nosql":['MonggoDb','Neo4J'],"rdbms":['Mysql','PostgreSQL','Oracle']}}

In [106]:
print(person)

{'fname': 'IKetut', 'lname': 'Gunawan', 'age': 45, 'pets': ['cats', 'ant'], 'skill': {'programming': ['Java', 'Golang', 'Python', 'Solidity'], 'database': {'nosql': ['MonggoDb', 'Neo4J'], 'rdbms': ['Mysql', 'PostgreSQL', 'Oracle']}}}

In [108]:
import json 
print(json.dumps(person, sort_keys=False, indent=4))

{
    "fname": "IKetut",
    "lname": "Gunawan",
    "age": 45,
    "pets": [
        "cats",
        "ant"
    ],
    "skill": {
        "programming": [
            "Java",
            "Golang",
            "Python",
            "Solidity"
        ],
        "database": {
            "nosql": [
                "MonggoDb",
                "Neo4J"
            ],
            "rdbms": [
                "Mysql",
                "PostgreSQL",
                "Oracle"
            ]
        }
    }
}

### Set

In [109]:
varx = set("Helloapakabar")
print(varx)
print(type(varx))

{'r', 'p', 'o', 'H', 'b', 'l', 'e', 'a', 'k'}
<class 'set'>

In [110]:
set([1,2,3,4])

{1, 2, 3, 4}

In [114]:
beatles = {"John","Paul","Ringo","Gorge"}
print(type(beatles))
print(beatles)

beatles.remove("John")
beatles.add("Ketut")
print(beatles)

beatles.add("Paul")
print(beatles)

<class 'set'>
{'Paul', 'Ringo', 'John', 'Gorge'}
{'Paul', 'Ringo', 'Ketut', 'Gorge'}
{'Paul', 'Ringo', 'Ketut', 'Gorge'}

In [115]:
nirvana = {"Kurt","Cris","Dave"}

new_band = beatles | nirvana 
print(new_band)

{'Paul', 'Ringo', 'Ketut', 'Kurt', 'Cris', 'Dave', 'Gorge'}

In [116]:
word1 = {'A','B','C','D','E','F'}
word2 = {'C','E','A','X','Y','Z'}
print(word1 & word2)

{'E', 'C', 'A'}